.intro-section {
    background-color: #005484;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
}
.intro-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.intro-section p {
    font-size: 18px;
    max-width: 900px;
    margin: 20px auto;
    margin-bottom: 40px;
    color: #d9c6a6;
}

.mission-vision {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding: 60px;
    background-color: #d9c6a6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section-content {
    flex: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  
    border-radius: 8px;
    background-color: #ffffff;
}

.section-content h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color:#005484
}

.our-team {
    padding: 40px;
    text-align: center;
    max-width:1200px;
    align-items: center;
    margin: 0 auto;
    
}

.our-team h2 {
    font-size: clamp(1.2rem, 2.4vw, 2.4em);
    margin-bottom: 0;
    color: #005484;

}
.our-team h3 {
    font-size: clamp(1rem, 1.8vw, 1.8em) !important;
    margin-bottom: 20px;
    margin-top: 0;
    color: #005484;
}


.team-member {
    display: flex;
    flex-wrap: wrap;
    max-width:1400px;
    gap: 80px;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
   
}
.team-member p{
    max-width:700px;
    font-size: clamp(0.9rem, 1.2vw, 1.1em);
}

.team-photo {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 3px solid #005484;
    object-fit: cover;
}

.team-info {
    max-width: 700px;
    text-align: left;
}

.team-info h3 {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    margin-bottom: 5px;
}

.team-info p {
    margin: 5px 0;
}



.why-choose-us {
    text-align: center;
    background-color: #f0eadf;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.why-choose-us h2 {
    color: #005484;
    font-size: clamp(1.2rem, 3vw, 2.25rem);
    margin-bottom: 40px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
}

.benefit {
    background-color: #fff;
    border: 1px solid #f0eadf;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    min-width: 150px;
    max-width: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
}


.benefit h3 {
    color: #005484;
    font-size: clamp(1.2rem, 1.6vw, 1.425rem);
    margin-bottom: 20px;
}

.benefit p {
    font-size: clamp(0.9rem, 1.2vw, 1.175rem);
    line-height: 1.8;
    color: #333;
}
.cta-button3{
    margin-top: 50px;
}
@media (max-width: 70.625rem) {
    .intro-section h1 {
        font-size: 2em;
        margin-bottom: 15px;
    }

    .intro-section p {
        font-size: 16px;
        padding: 0 15px;
        margin-bottom: 30px;
    }

    .mission-vision {
        flex-direction: column;
        padding: 40px 20px;
        gap: 20px;
    }

    .section-content {
        padding: 15px;
    }

    .section-content h2 {
        font-size: 1.5em;
        margin-bottom: 8px;
    }

    .our-team {
        padding-top:30px;
        width: 90%;
    }

    .our-team h2 {
        font-size: 2em;
        margin-bottom: 15px;
        margin-left: 0;
    }

    .our-team h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .team-member {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .team-member p {
        width: 90%;
        font-size: 1em;
    }

    .team-photo {
        width: 200px;
        height: 200px;
    }

    .team-info {
        max-width: 90%;
        text-align: center;
    }

    .why-choose-us {
        padding: 40px 15px;
    }

    .why-choose-us h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .row {
        flex-direction: column;
        gap: 20px;
    }

    .benefit {
        padding: 20px;
        min-width: unset;
        max-width: 100%;
    }

    .benefit h3 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .benefit p {
        font-size: 16px;
        line-height: 1.6;
    }

    .cta-button3 {
        margin-top: 30px;
    }
}
