
.intro-bar {
 
    line-height: 1.6em;
    
    color: #d9c6a6;
    background-color: #005484;
    text-align: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:30px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  
}
.page-title {
    font-size: clamp(28px, 3.3vw, 42.24px);
    margin-top: 0;
    line-height: 1.6em;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    background-color: #005484;
}

.intro-text {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    color: #d9c6a6;
    text-align: center;
    line-height: 1.6em !important;
    max-width: 1000px;
    margin: 0 auto 30px;
}

.cta-banner {
    text-align: center;
    background-color: #005484;
    padding: 20px 0;
    margin-bottom: 40px;
}



.section-title {
    font-size: clamp(1.25em, 4vw, 2em);
    color: #005484;
    text-align: center;
    margin-bottom: 20px;
}

.oven-types {
    padding: 40px 20px;
    background-color: #d9c6a6;
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
    color: #005484;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.oven-types h2 {
    font-size: clamp(1.25em, 4vw, 2em);
    text-align: center;
    color: #005484;
    margin: 0 auto 20px;
    display: inline-block;
    padding-bottom: 0px; 
}

.oven-types p {
    font-size: clamp(1rem, 2vw, 1.1rem);
    line-height: 1.8em;
    color: #333;
    margin-bottom: 30px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.oven-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1600px;
    background-color: #d9c6a6;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.oven-list li {
    text-align: center;
    flex: 1 1 0;
    min-width: 240px;
    max-width: 240px;

}

.oven-list img {
    width: 240px;
    height: 90px;
    object-fit: cover;
    padding: 20px 20px;
    display: block;
}
    


.cleaning-process .grid-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f0eadf;
}

.cleaning-process .grid-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cleaning-process .grid-row.reverse {
    flex-direction: row-reverse;
    background-color: #e0d6c3;
}

.cleaning-process .text,
.cleaning-process .image {
    flex: 1;
    width: 50%;
    padding: 0;
}

.cleaning-process .text h2 {
    font-size: clamp(1.15rem, 4vw, 2rem);
    color: #005484;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-top: 70px;
}

.cleaning-process .text h3 {
    font-size: clamp(1.05em, 3vw, 1.4em);
    color: #005484;
    margin-bottom: 10px;
    padding-left: 40px;
}
.step3gap {
    margin-top:60px;
}

.cleaning-process .text p {
    font-size: clamp(0.9em, 1.4vw, 1.2rem);
    margin-bottom: 20px;
    line-height: clamp(1.5rem, 1.8rem, 2.5rem);
    padding-left: 40px;
    padding-right: 40px;
}

.cleaning-process .image img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    display: block;
   
}


.booking-process {
    text-align: center;
    padding: 30px 20px;
    background-color: #005484;
    color: #d9c6a6;

    margin: 40px 0;
    margin-top: 0;
}
.booking-process h2{
    color: #fff;
    font-size: 36px;
}
.booking-process p{
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    max-width: 1200px;
    margin: 0 auto;
}
.cta-button2 {
    display: inline-block;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    color: #005484;
    background-color: #fff;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.5s ease, box-shadow 0.3s ease, transform 0.5s ease;
    text-align: center;
}

.cta-button2:hover {
    background-color: #d9c6a6;
    color:#fff;
    
}


.faq-section {
    padding: 40px 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;
}

.faq-section h2 {
    font-size: clamp(1.25rem, 4vw, 2rem);
    color: #005484;
    margin-bottom: 20px;
    border-bottom: 2px solid #d9c6a6;
    display: inline-block;
    padding-bottom: 5px;
}

.faq-list {
    max-width: 800px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

.faq-list li {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: clamp(1rem, 2vw, 1.1rem);
    border: 1px solid #d9c6a6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.faq-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.faq-list strong {
    color: #005484;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
}

.faq-list p {
    margin-top: 10px;
    font-size: clamp(0.95rem, 2vw, 1rem);
    color: #333;
    line-height: 1.8em;
    text-align: left;
}
.area-links-container{
    background-color: #d9c6a6;
    padding: 50px 20px;
    flex-wrap: wrap;

}
.area-links {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #d9c6a6;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.area-links li {
    flex: 1 1 0;
    min-width: 285px;
    max-width: 285px;
}



.area-links a {
    font-size: clamp(14px, 1.4vw, 18px);
    line-height: 1.5em;
    color: #555;
    text-decoration: none;
    background-color: #fff;
    padding: 20px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: block;
    transition: background-color 0.5s, color 0.3s, box-shadow 0.3s, transform 0.5s ease;
}

.area-links a:hover {
    background-color: #005484;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}
@media only screen and (max-width: 768px) {
    .intro-text{
        padding: 0px 15px;
    }
    .cleaning-process .grid-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .cleaning-process .grid-row {
        flex-direction: column;
    }

    .cleaning-process .grid-row.reverse {
        flex-direction: column;
        background-color: #e0d6c3;
    }

    .cleaning-process .text,
    .cleaning-process .image {
        width: 100%;
     
    }

    .cleaning-process .text h2 {
        font-size: 1.8em;
        text-align: center;
        padding-left: 0;
        padding-top: 20px;
        
    }

    .cleaning-process .text h3 {
        font-size: 1.2em;
        text-align: center;
        padding-left: 10px;
        text-align: left;
    }

    .cleaning-process .text p {
        font-size: 1em;
        line-height: 1.8em;
        padding-left: 10px;
        padding-right: 10px;
        
        text-align: left;
    }

    .cleaning-process .image img {
        height: auto;
        max-height: 400px;
        object-fit: contain;
        padding-top: 10px;
        display: none;
    }
    .area-links{
        padding:10px;
    }
    .area-links li {
        min-width: 240px;
        max-width: 250px;
    }
    .area-links a {
    padding: 15px 15px;
    }
    .oven-list{
        padding:10px;
    }
    .oven-list li {
        min-width: 240px;
        max-width: 250px;
    }
    .oven-list img {
    padding: 15px 15px;
    }
}