body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #005484;
    margin: 0;
    line-height: 1.5;
}
.main{
    margin-top:200px;
    padding-top: 100px;
}
.privacy-policy {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;

}
.terms-and-conditions{
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
}
.sitemap{
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
}

.top-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5em !important;
}


h1, h2, h3 {
    color: #005484;
    margin: 10px 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

p, ul, li {
    font-size: 16px;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

strong {
    color: #005484;
}
@media only screen and (max-width: 768px) {
    .main{
        margin-top:0px;
        padding-top: 0px;
    }
    .privacy-policy {
        max-width: 1000px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
    
    }
    .divider{
        display: none;
    }

}